* {
  margin: 0;
}
body {
  background-color: #202020;
}

#title {
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}

#contactTableContainer {
  width: 100%;
}

.contactTable {
  border-collapse: collapse;
  color: white;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.125rem;
  border-radius: 25px;
}

tbody {
  border: 1px solid #6e6e6e;
  border-top: none;
}

thead {
  background-color: #5d3fd3;
  border-radius: 25%;
}

.contactTable th,
td {
  padding: 0.8rem;
}
.contactTable th {
  text-align: left;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

@media (max-width: 650px) {
  th {
    display: none;
  }

  td {
    display: block;
  }

  td:first-child {
    padding-top: 1.5rem;
  }

  td:last-child {
    padding-bottom: 1.5rem;
  }

  td::before {
    font-weight: 700;
    text-transform: capitalize;
  }

  td:first-child::before {
    content: "name" ": ";
  }

  td:nth-child(2)::before {
    content: "name" ": ";
  }

  td:nth-child(3)::before {
    content: "email" ": ";
  }

  td:nth-child(4)::before {
    content: "phone number" ": ";
  }

  td:nth-child(5)::before {
    content: "address" ": ";
  }
}

#headerBar {
  margin-top: 10px;
  margin: 10px 20px;
  display: flex;
  color: white;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#logo {
  width: 50px;
  height: auto;
}

#logoIcon {
  display: flex;
  align-items: center;
}

.navBar > a {
  padding: 10px 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navBar > a:hover {
  color: darkgrey;
}

.navBar {
  background-color: #00000035;
  display: flex;
  padding: 5px;
  color: white;
  border-radius: 40px;
  position: relative;
}

.buttons {
  font-size: 30px;
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto 4%;
  font-family: "Ubuntu", sans-serif;
}

.buttons:hover {
  background-color: #9503ff;
  color: #ffffff;
  opacity: 50%;
}

#loginLink {
  text-align: left;
  border: 1px solid black;
}

#loginName,
#loginPassword,
#firstName,
#lastName {
  font-size: 30px;
  display: block;
  margin-bottom: 1%;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #5d3fd3; /* Added border style */
  background-color: #333232; /* Added background color */
  color: #ffffff; /* Added text color */
  padding: 10px; /* Added padding for space inside the input field */
  width: 80%;
  margin: 0 auto 2%; /* Center align and add margin */
  text-align: left; /* Set text alignment to left */
  border-radius: 25px;
}

#loginName:hover, #loginPassword:hover{
  background-color: #696969;
}

#loginName:focus,
#loginPassword:focus {
  outline: none; /* Remove default focus outline */
  border-color: #5d3fd3; /* Change border color on focus */
}

#loginName::placeholder,
#loginPassword::placeholder {
  color: #ffffff;
  margin-bottom: 1%;
}

#loginButton {
  font-size: 30px;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto 2%; /* Added margin-bottom value */
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  background-color: #5d3fd3;
  border: none;
  padding: 10px 20px;
  text-align: center; /* Center align text on the button */
}

#loginDiv {
  font-size: 20px;
  width: 60%;
  margin: 15% auto 0 50%; /* Adjusted margin values */
  transform: translateX(-50%);
  font-family: "Ubuntu", sans-serif;
  text-align: center; /* Center align text */
}

#loginDiv label {
  margin-bottom: 1.5%; /* Adjusted margin-bottom value */
  display: block; /* Make label a block element */
  color: white;
  text-align: left; /* Set text alignment to left */
  margin-left: 5%; /* Increased margin-left for more spacing */
  border-radius: 50px; /* Added border-radius for rounded corners */
}


#loginDiv label[for="loginName"],
#loginDiv label[for="loginPassword"] {
  margin-bottom: 1.5%; /* Adjusted margin-bottom value */
}

#inner-title {
  margin-bottom: 2%; /* Adjusted margin value */
  color: #ffffff;
  
}
select {
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  font-size: 0.75em;
  font-family: "Ubuntu", sans-serif;
}
